# Virtual environments
myenv/
env/
venv/

# Models / big binaries
*.safetensors
*.bin
*.pth
*.dll
*.lib

# Model folders if you recreate them later
src/punjabi_mood_model1/
punjabi_mood_model/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Editors / OS
.vscode/
.DS_Store
Thumbs.db
